<%= form_with model: product, data: { turbo_frame: dom_id(product) } do |form| %>
  <%= turbo_frame_tag "product_name_#{product.id}" do %>
    <div class="product-row" id="product_<%= product.id %>">
    <span id="product_name_<%= product.id %>"><%= product.name %></span>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.submit %>
    </div>
  <% end %>
<% end %>